<nb-card>
  <nb-card-header>
    <h3 class="fw-bold fs-5">Thêm mới suất chiếu</h3>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="screeningAdd" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="col-md-6">
          <nb-form-field>
            <label for="movieId" class="form-label">Phim</label>
            <nb-select status="basic" fullWidth placeholder="Chọn phim..." formControlName="movieId">
              <nb-option *ngFor="let movie of movieList" [value]="movie.id">{{ movie.name }}</nb-option>
            </nb-select>
            <p class="text-danger mt-2" *ngIf="screeningAdd.get('movieId')?.invalid && (screeningAdd.get('movieId')?.dirty || screeningAdd.get('movieId')?.touched)">
              Vui lòng chọn phim!
            </p>
          </nb-form-field>
        </div>
        <div class="col-md-6">
          <nb-form-field>
            <label for="roomId" class="form-label">Phòng chiếu</label>
            <nb-select status="basic" fullWidth placeholder="Chọn rạp chiếu..." formControlName="roomId">
              <nb-option *ngFor="let room of roomList" [value]="room.id">{{ room.name }}</nb-option>
            </nb-select>
            <p class="text-danger mt-2" *ngIf="screeningAdd.get('roomId')?.invalid && (screeningAdd.get('roomId')?.dirty || screeningAdd.get('roomId')?.touched)">
              Vui lòng chọn rạp chiếu!
            </p>
          </nb-form-field>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <nb-form-field>
            <label for="startTime" class="form-label">Ngày giờ bắt đầu</label>
            <input nbInput fullWidth placeholder="Ngày giờ bắt đầu" formControlName="startTime" [nbDatepicker]="start">
            <nb-date-timepicker withSeconds #start></nb-date-timepicker>
            <p class="text-danger mt-2" *ngIf="screeningAdd.get('startTime')?.invalid && (screeningAdd.get('startTime')?.dirty || screeningAdd.get('startTime')?.touched)">
              Vui lòng chọn ngày giờ bắt đầu!
            </p>
          </nb-form-field>
        </div>
        <div class="col-md-6">
          <nb-form-field>
            <label for="endTime" class="form-label">Ngày giờ kết thúc</label>
            <input nbInput fullWidth placeholder="Ngày giờ kết thúc" formControlName="endTime" [nbDatepicker]="end">
            <nb-date-timepicker withSeconds #end></nb-date-timepicker>
            <p class="text-danger mt-2" *ngIf="screeningAdd.get('endTime')?.invalid && (screeningAdd.get('endTime')?.dirty || screeningAdd.get('endTime')?.touched)">
              Vui lòng chọn ngày giờ kết thúc!
            </p>
          </nb-form-field>
        </div>
      </div>
      <div class="mt-3 d-flex column-gap-3">
        <button nbButton hero status="primary" type="submit" [disabled]="screeningAdd.invalid">Thêm mới</button>
        <button nbButton hero status="success" type="reset">Reset</button>
        <a nbButton status="basic" routerLink="/pages/screening">Quay lại</a>
      </div>
    </form>
  </nb-card-body>
</nb-card>
