<nb-card>
  <nb-card-header>
    <h3 class="fw-bold fs-5">Thêm mới vé phim</h3>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="addTicketForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <nb-form-field>
            <label class="form-label" for="price">Giá vé</label>
            <input type="text" nbInput fullWidth status="basic" placeholder="Nhập giá vé..." id="price"
              formControlName="price">
            <div
              *ngIf="addTicketForm.get('price')?.invalid && (addTicketForm.get('price')?.dirty || addTicketForm.get('price')?.touched)">
              <small class="text-danger" *ngIf="addTicketForm.get('price')?.errors?.required">Vui lòng nhập giá
                vé</small>
              <small class="text-danger" *ngIf="addTicketForm.get('price')?.errors?.pattern">Giá vé phải là
                số</small>
            </div>
          </nb-form-field>
        </div>
        <div class="col-md-6">
          <nb-form-field>
            <p class="form-label">Suất chiếu</p>
            <nb-select fullWidth status="basic" placeholder="Chọn suất chiếu..." id="type" formControlName="showtimeId">
              <nb-option *ngFor="let showtime of showtimes" [value]="showtime.id">{{ showtime.movieName }} - {{
                showtime.roomName }}</nb-option>
            </nb-select>
            <div
              *ngIf="addTicketForm.get('showtimeId')?.invalid && (addTicketForm.get('showtimeId')?.dirty || addTicketForm.get('showtimeId')?.touched)">
              <small class="text-danger" *ngIf="addTicketForm.get('showtimeId')?.errors?.required">Vui lòng chọn suất
                chiếu</small>
            </div>
          </nb-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <nb-form-field class="mt-3">
            <p class="form-label">Số ghế</p>
            <nb-select fullWidth status="basic" placeholder="Chọn ghế..." id="seatNumber" formControlName="seatNumber">
              <nb-option *ngFor="let seat of seats" [value]="seat">{{seat}}</nb-option>
            </nb-select>
            <div
              *ngIf="addTicketForm.get('seatNumber')?.invalid && (addTicketForm.get('seatNumber')?.dirty || addTicketForm.get('seatNumber')?.touched)">
              <small class="text-danger" *ngIf="addTicketForm.get('seatNumber')?.errors?.required">Vui lòng chọn số
                ghế</small>
            </div>
          </nb-form-field>
        </div>
      </div>
      <div class="mt-3 d-flex column-gap-3">
        <button nbButton hero status="primary" [disabled]="addTicketForm.invalid">Thêm mới</button>
        <button nbButton hero status="success" type="reset">Reset</button>
        <a nbButton status="basic" routerLink="/pages/ticket">Quay lại</a>
      </div>
    </form>
  </nb-card-body>
</nb-card>