<nb-card>
  <nb-card-header>
    <h3 class="fw-bold fs-5">Thêm mới vé phim</h3>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="addTicketForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <nb-form-field>
            <label class="form-label" for="price">Giá vé</label>
            <input type="text" nbInput fullWidth status="basic" placeholder="Nhập giá vé..." id="price"
              formControlName="price">
            <div
              *ngIf="addTicketForm.get('price')?.invalid && (addTicketForm.get('price')?.dirty || addTicketForm.get('price')?.touched)">
              <small class="text-danger" *ngIf="addTicketForm.get('price')?.errors?.required">Giá vé là bắt
                buộc.</small>
              <small class="text-danger" *ngIf="addTicketForm.get('price')?.errors?.pattern">Giá vé phải là
                số.</small>
            </div>
          </nb-form-field>
        </div>
        <div class="col-md-6">
          <nb-form-field>
            <p class="form-label">Mã suất chiếu</p>
            <nb-select fullWidth status="basic" placeholder="Chọn suất chiếu..." id="type" formControlName="screenId">
              <nb-option value="0">SC01</nb-option>
              <nb-option value="1">SC02</nb-option>
            </nb-select>
            <div
              *ngIf="addTicketForm.get('screenId')?.invalid && (addTicketForm.get('screenId')?.dirty || addTicketForm.get('screenId')?.touched)">
              <small class="text-danger" *ngIf="addTicketForm.get('screenId')?.errors?.required">Mã suất chiếu là bắt
                buộc.</small>
            </div>
          </nb-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <nb-form-field class="mt-3">
            <p class="form-label">Mã ghế</p>
            <nb-select fullWidth status="basic" placeholder="Chọn ghế..." id="seatId" formControlName="seatId">
              <nb-option value="0">T001</nb-option>
              <nb-option value="1">T002</nb-option>
            </nb-select>
            <div
              *ngIf="addTicketForm.get('seatId')?.invalid && (addTicketForm.get('seatId')?.dirty || addTicketForm.get('seatId')?.touched)">
              <small class="text-danger" *ngIf="addTicketForm.get('seatId')?.errors?.required">Mã ghế là bắt
                buộc.</small>
            </div>
          </nb-form-field>
        </div>
      </div>
      <div class="mt-3 d-flex column-gap-3">
        <button nbButton hero status="primary" [disabled]="addTicketForm.invalid">Thêm mới</button>
        <button nbButton hero status="success" type="reset">Reset</button>
        <a nbButton status="basic" routerLink="/pages/ticket">Quay lại</a>
      </div>
    </form>
  </nb-card-body>
</nb-card>