<nb-card>
  <nb-card-header class="d-flex justify-content-end align-items-center">
    <a nbButton outline status="primary" routerLink="/pages/employee/add">
      <nb-icon icon="plus-outline"></nb-icon>
      Thêm mới
    </a>
  </nb-card-header>
  <nb-card-body>
    <div class="table-responsive text-center">
      <table class="table table-hover align-middle" [ngClass]="{'table-dark': isDarkTheme}">
        <thead [ngClass]="{'thead-dark': isDarkTheme}">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Tên nhân viên</th>
            <th scope="col">Email</th>
            <th scope="col">Thao tác</th>
          </tr>
        </thead>
        <tbody *ngIf="userList.length > 0">
          <tr *ngFor="let item of userList; let i = index">
            <td>{{i + 1}}</td>
            <td>{{item.username}}</td>
            <td>{{item.email}}</td>
            <td>
              <a nbButton status="info" routerLink="/pages/employee/edit/{{item.id}}"
                class="d-inline-flex justify-content-center align-items-center p-2 me-2">
                <nb-icon icon="edit-outline" status="control" class="icon"></nb-icon>
              </a>
              <a nbButton status="danger" (click)="openDeleteConfirmation(item.id)"
                class="d-inline-flex justify-content-center align-items-center p-2 border rounded-1">
                <nb-icon icon="trash-outline" status="control" class="custom-icon"></nb-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <ngx-paginator [apiUrl]="apiUrl" [current_page]="currentPage" [total_page]="totalPage"
        (dataList)="updateData($event)"></ngx-paginator>
    </div>
  </nb-card-body>
</nb-card>
