<main class="mainaddcate">
    <h4>Thêm Mới</h4>
    <form
      _ngcontent-pbm-c282=""
      novalidate=""
      class="ng-untouched ng-pristine ng-valid d-flex flex-column gap-2"
    >
      <div _ngcontent-pbm-c282="" class="form-group row">
        <label
          _ngcontent-pbm-c282=""
          for="inputEmail1"
          class="label col-sm-3 col-form-label"
          >Tên quà tặng</label
        >
        <div _ngcontent-pbm-c282="" class="col-sm-9">
          <input
            _ngcontent-pbm-c282=""
            type="text"
            nbinput=""
            fullwidth=""
            id="inputEmail1"
            placeholder="Tên quà tặng"
            class="input-full-width size-medium status-basic shape-rectangle nb-transition"
          />
        </div>
      </div>
      <div _ngcontent-pbm-c282="" class="form-group row">
        <label
          _ngcontent-pbm-c282=""
          for="description"
          class="label col-sm-3 col-form-label"
          >Hình ảnh</label
        >
        <div _ngcontent-pbm-c282="" class="col-sm-9">
          <input
            _ngcontent-pbm-c282=""
            type="file"
            nbinput=""
            fullwidth=""
            id="description"
            class="input-full-width size-medium status-basic shape-rectangle nb-transition"
          />
        </div>
      </div>
      <div _ngcontent-pbm-c282="" class="form-group row">
        <label
          _ngcontent-pbm-c282=""
          for="description"
          class="label col-sm-3 col-form-label"
          >Số lượng</label
        >
        <div _ngcontent-pbm-c282="" class="col-sm-9">
          <input
            _ngcontent-pbm-c282=""
            type="number"
            nbinput=""
            fullwidth=""
            id="description"
            placeholder="Số lượng"
            class="input-full-width size-medium status-basic shape-rectangle nb-transition"
          />
        </div>
      </div>
      <div _ngcontent-pbm-c282="" class="form-group row">
        <label
          _ngcontent-pbm-c282=""
          for="description"
          class="label col-sm-3 col-form-label"
          >Giá bán</label
        >
        <div _ngcontent-pbm-c282="" class="col-sm-9">
          <input
            _ngcontent-pbm-c282=""
            type="number"
            nbinput=""
            fullwidth=""
            id="description"
            placeholder="Giá bán"
            class="input-full-width size-medium status-basic shape-rectangle nb-transition"
          />
        </div>
      </div>
      <div _ngcontent-pbm-c282="" class="form-group row">
        <label
          _ngcontent-pbm-c282=""
          for="description"
          class="label col-sm-3 col-form-label"
          >Thuộc phim</label
        >
        <div _ngcontent-pbm-c282="" class="col-sm-9">
          <input
            _ngcontent-pbm-c282=""
            type="text"
            nbinput=""
            fullwidth=""
            id="description"
            placeholder="Thuộc phim"
            class="input-full-width size-medium status-basic shape-rectangle nb-transition"
          />
        </div>
      </div>
      <div _ngcontent-pbm-c282="" class="form-group row">
        <div _ngcontent-pbm-c282="" class="offset-sm-3 col-sm-9">
          <button
            _ngcontent-pbm-c282=""
            type="submit"
            nbbutton=""
            status="primary"
            aria-disabled="false"
            tabindex="0"
            class="appearance-filled size-medium shape-rectangle status-primary nb-transition"
          >
            Thêm
          </button>
        </div>
      </div>
    </form>
  </main>
  