<main>
    <p>bạn Có muốn xóa không</p>
<a  [routerLink]="['/pages/film']">
    <button
      _ngcontent-pbm-c286=""
      nbbutton=""
      matripple=""
      outline=""
      class=" mat-ripple status-success appearance-outline size-small    shape-rectangle ng-star-inserted nb-transition"
      aria-disabled="false"
      tabindex="0"
    >
      Quay Lại
    </button>
  </a>
  <a  [routerLink]="['/pages/film/add']">
    <button
      _ngcontent-pbm-c286=""
      nbbutton=""
      matripple=""
      outline=""
      class="btnxoa mat-ripple status-info appearance-outline size-small    shape-rectangle ng-star-inserted nb-transition"
      aria-disabled="false"
      tabindex="0"
    >
     Xóa
    </button>
  </a>
  
</main>