<main class="mainaddcate">
  <h4>Chỉnh sửa</h4>
  <form
    _ngcontent-pbm-c282=""
    novalidate=""
    class="ng-untouched ng-pristine ng-valid d-flex flex-column gap-2"
  >
    <div _ngcontent-pbm-c282="" class="form-group row">
      <label
        _ngcontent-pbm-c282=""
        for="inputEmail1"
        class="label col-sm-3 col-form-label"
        >Tổng số vé</label
      >
      <div _ngcontent-pbm-c282="" class="col-sm-9">
        <input
          _ngcontent-pbm-c282=""
          type="number"
          nbinput=""
          value="100"
          fullwidth=""
          id="inputEmail1"
          placeholder="Tổng số vé"
          class="input-full-width size-medium status-basic shape-rectangle nb-transition"
        />
      </div>
    </div>
    <div _ngcontent-pbm-c282="" class="form-group row">
      <label
        _ngcontent-pbm-c282=""
        for="description"
        class="label col-sm-3 col-form-label"
        >Tổng tiền bán vé</label
      >
      <div _ngcontent-pbm-c282="" class="col-sm-9">
        <input
          _ngcontent-pbm-c282=""
          type="number"
          nbinput=""
          value="1000000"
          fullwidth=""
          id="description"
          placeholder="Tổng tiền bán vé"
          class="input-full-width size-medium status-basic shape-rectangle nb-transition"
        />
      </div>
    </div>
    <div _ngcontent-pbm-c282="" class="form-group row">
      <label
        _ngcontent-pbm-c282=""
        for="description"
        class="label col-sm-3 col-form-label"
        >Tổng tiền dịch vụ</label
      >
      <div _ngcontent-pbm-c282="" class="col-sm-9">
        <input
          _ngcontent-pbm-c282=""
          type="number"
          nbinput=""
          value="1000000"
          fullwidth=""
          id="description"
          placeholder="Tổng tiền dịch vụ"
          class="input-full-width size-medium status-basic shape-rectangle nb-transition"
        />
      </div>
    </div>
    <div _ngcontent-pbm-c282="" class="form-group row">
      <label
        _ngcontent-pbm-c282=""
        for="description"
        class="label col-sm-3 col-form-label"
        >Ngày</label
      >
      <div _ngcontent-pbm-c282="" class="col-sm-9">
        <input
          _ngcontent-pbm-c282=""
          type="date"
          nbinput=""
          fullwidth=""
          value="2024-01-01"
          id="description"
          placeholder="Ngày"
          class="input-full-width size-medium status-basic shape-rectangle nb-transition"
        />
      </div>
    </div>
    <div _ngcontent-pbm-c282="" class="form-group row">
      <label
        _ngcontent-pbm-c282=""
        for="description"
        class="label col-sm-3 col-form-label"
        >Tổng doanh thu</label
      >
      <div _ngcontent-pbm-c282="" class="col-sm-9">
        <input
          _ngcontent-pbm-c282=""
          type="number"
          nbinput=""
          value="2000000"
          fullwidth=""
          id="description"
          placeholder="Tổng doanh thu"
          class="input-full-width size-medium status-basic shape-rectangle nb-transition"
        />
      </div>
    </div>
    <div _ngcontent-pbm-c282="" class="form-group row">
      <div _ngcontent-pbm-c282="" class="offset-sm-3 col-sm-9">
        <button
          _ngcontent-pbm-c282=""
          type="submit"
          nbbutton=""
          status="warn"
          aria-disabled="false"
          tabindex="0"
          class="appearance-filled size-medium shape-rectangle status-primary nb-transition"
        >
          Sửa
        </button>
        <button type="button" class="btn btn-secondary mx-2"><a class="text-decoration-none text-white" routerLink="/pages/revenue">Hủy</a></button>
      </div>
    </div>
  </form>
</main>
