<label for="image"
  class="image-label d-flex align-items-center justify-content-center border w-100 rounded-3 position-relative overflow-hidden">
  <input nbInput fullWidth status="basic" type="file" class="form-control d-none " id="image"
    (change)="onFileSelected($event)">
  <div *ngIf="getUploadProgress() != 0 && !imageUrl" class="loading">
  </div>
  <div *ngIf="getUploadProgress() == 0 && !imageUrl" class="d-flex flex-column align-items-center text-center pe-none">
    <img src="assets/images/img-upload.png" alt="upload-img" class="mb-3 image-icon" />
    <p class="fw-semibold">Chọn ảnh</p>
  </div>
  <div *ngIf="imageUrl" class="position-absolute bottom-0 start-0 end-0 top-0 ">
    <img [src]="imageUrl" class="object-fit-cover w-100 h-100" alt="" />
    <button type="button"
      class="position-absolute d-flex align-items-center justify-content-center bg-white rounded-circle btn-delete-image"
      (click)="deleteImage()">
      <svg xmlns="http://www.w3.org/2000/svg" class="delete-icon" fill="none" view-box="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
      </svg>
    </button>
  </div>
  <div *ngIf="!imageUrl" class="position-absolute bottom-0 start-0 progress-custom"
    [style.width.%]="getUploadProgress()">
  </div>
  <div *ngIf="control?.invalid && (control.dirty || control.touched)" class="text-danger mt-1">
    <small *ngIf="control?.errors?.required">Vui lòng tải hình ảnh</small>
  </div>
</label>