<main class="mainaddcate">
    <h4>Chỉnh Sửa</h4>
    <form
    _ngcontent-pbm-c282=""
    novalidate=""
    class="ng-untouched ng-pristine ng-valid"
  >
    <div _ngcontent-pbm-c282="" class="form-group row">
      <label
        _ngcontent-pbm-c282=""
        for="inputEmail1"
        class="label col-sm-3 col-form-label"
        >Tên Phim</label
      >
      <div _ngcontent-pbm-c282="" class="col-sm-9">
        <input
          _ngcontent-pbm-c282=""
          type="text"
          nbinput=""
          fullwidth=""
          id="inputEmail1"
          placeholder="Tên phim"
          class="input-full-width size-medium status-basic shape-rectangle nb-transition"
        />
      </div>
    </div>
    <div _ngcontent-pbm-c282="" class="form-group row">
      <label
        _ngcontent-pbm-c282=""
        for="description"
        class="label col-sm-3 col-form-label"
        >Thể Loại</label
      >
      <div _ngcontent-pbm-c282="" class="col-sm-9">
        <select class="form-select" aria-label="Default select example">
            <option selected disabled>Chọn thể loại</option>
            <option value="1">Tình Cảm</option>
            <option value="2">Kinh dị</option>
          </select>
      </div>
    </div>
    <div _ngcontent-pbm-c282="" class="form-group row">
        <label
          _ngcontent-pbm-c282=""
          for="description"
          class="label col-sm-3 col-form-label"
          >Đạo Diễn</label
        >
        <div _ngcontent-pbm-c282="" class="col-sm-9">
          <input
            _ngcontent-pbm-c282=""
            type="text"
            nbinput=""
            fullwidth=""
            id="description"
            placeholder="tên đạo diễn"
            class="input-full-width size-medium status-basic shape-rectangle nb-transition"
          />
        </div>
      </div>
      <div _ngcontent-pbm-c282="" class="form-group row">
        <label
          _ngcontent-pbm-c282=""
          for="description"
          class="label col-sm-3 col-form-label"
          >Thời lượng</label
        >
        <div _ngcontent-pbm-c282="" class="col-sm-9">
          <input
            _ngcontent-pbm-c282=""
            type="text"
            nbinput=""
            fullwidth=""
            id="description"
            placeholder="thời lượng phim"
            class="input-full-width size-medium status-basic shape-rectangle nb-transition"
          />
        </div>
      </div>
      <div _ngcontent-pbm-c282="" class="form-group row">
        <label
          _ngcontent-pbm-c282=""
          for="description"
          class="label col-sm-3 col-form-label"
          >ngôn ngữ</label
        >
        <div _ngcontent-pbm-c282="" class="col-sm-9">
          <input
            _ngcontent-pbm-c282=""
            type="text"
            nbinput=""
            fullwidth=""
            id="description"
            placeholder="thời lượng phim"
            class="input-full-width size-medium status-basic shape-rectangle nb-transition"
          />
        </div>
      </div>
      <div _ngcontent-pbm-c282="" class="form-group row">
        <label
          _ngcontent-pbm-c282=""
          for="description"
          class="label col-sm-3 col-form-label"
          >Năm sản xuất</label
        >
        <div _ngcontent-pbm-c282="" class="col-sm-9">
          <input
            _ngcontent-pbm-c282=""
            type="text"
            nbinput=""
            fullwidth=""
            id="description"
            placeholder="Năm sản xuất"
            class="input-full-width size-medium status-basic shape-rectangle nb-transition"
          />
        </div>
      </div>
      <div _ngcontent-pbm-c282="" class="form-group row">
        <label
          _ngcontent-pbm-c282=""
          for="description"
          class="label col-sm-3 col-form-label"
          >Mô tả</label
        >
        <div _ngcontent-pbm-c282="" class="col-sm-9">
          <input
            _ngcontent-pbm-c282=""
            type="text"
            nbinput=""
            fullwidth=""
            id="description"
            placeholder="Mô tả"
            class="input-full-width size-medium status-basic shape-rectangle nb-transition"
          />
        </div>
      </div>
      <div _ngcontent-pbm-c282="" class="form-group row">
        <label
          _ngcontent-pbm-c282=""
          for="description"
          class="label col-sm-3 col-form-label"
          >trạng thái</label
        >
        <div _ngcontent-pbm-c282="" class="col-sm-9">
          <select class="form-select" aria-label="Default select example">
              <option selected disabled>Chọn trạng thái</option>
              <option value="1">Đang Chiếu</option>
              <option value="2">Tạm Ngừng</option>
             
            </select>
        </div>
      </div>
    <div _ngcontent-pbm-c282="" class="form-group row">
      <div _ngcontent-pbm-c282="" class="offset-sm-3 col-sm-9">
        <button
          _ngcontent-pbm-c282=""
          type="submit"
          nbbutton=""
          status="primary"
          aria-disabled="false"
          tabindex="0"
          class="appearance-filled size-medium shape-rectangle status-primary nb-transition"
        >
          Xác Nhận
        </button>
      </div>
    </div>
  </form>

</main>