<nb-card>
  <nb-card-header>
    <h3 class="fw-bold fs-5">Chỉnh sửa phòng chiếu</h3>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="editRoomForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <nb-form-field>
            <label class="form-label" for="name">Tên phòng chiếu</label>
            <input type="text" nbInput fullWidth status="basic" placeholder="Nhập tên phòng chiếu..." id="name"
              formControlName="name">
            <div
              *ngIf="editRoomForm.get('name')?.invalid && (editRoomForm.get('name')?.dirty || editRoomForm.get('name')?.touched)">
              <small class="text-danger" *ngIf="editRoomForm.get('name')?.errors?.required">Tên phòng chiếu là bắt
                buộc.</small>
              <small class="text-danger" *ngIf="editRoomForm.get('name')?.errors?.minlength">Tên phòng chiếu phải có ít
                nhất
                3 ký tự.</small>
            </div>
          </nb-form-field>
        </div>
        <div class="col-md-6">
          <nb-form-field>
            <p class="form-label">Loại phòng chiếu</p>
            <nb-select fullWidth status="basic" placeholder="Chọn loại phòng..." id="type" formControlName="type">
              <nb-option value="Phòng chiếu 2D">Phòng chiếu 2D</nb-option>
              <nb-option value="Phòng chiếu 3D">Phòng chiếu 3D</nb-option>
            </nb-select>
            <div
              *ngIf="editRoomForm.get('type')?.invalid && (editRoomForm.get('type')?.dirty || editRoomForm.get('type')?.touched)">
              <small class="text-danger" *ngIf="editRoomForm.get('type')?.errors?.required">Loại phòng chiếu là bắt
                buộc.</small>
            </div>
          </nb-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <nb-form-field class="mt-3">
            <label class="form-label" for="capacity">Sức chứa</label>
            <input type="text" nbInput fullWidth status="basic" placeholder="Nhập sức chứa..." id="capacity"
              formControlName="capacity">
            <div
              *ngIf="editRoomForm.get('capacity')?.invalid && (editRoomForm.get('capacity')?.dirty || editRoomForm.get('capacity')?.touched)">
              <small class="text-danger" *ngIf="editRoomForm.get('capacity')?.errors?.required">Sức chứa là bắt
                buộc.</small>
              <small class="text-danger" *ngIf="editRoomForm.get('capacity')?.errors?.pattern">Sức chứa phải là
                số.</small>
            </div>
          </nb-form-field>
        </div>
        <div class="col-md-6">
          <nb-form-field class="mt-3">
            <p class="form-label">Trạng thái</p>
            <nb-select fullWidth status="basic" placeholder="Chọn trạng thái..." id="roomStatus"
              formControlName="status">
              <nb-option value="0">Đang Hoạt động</nb-option>
              <nb-option value="1">Không hoạt động</nb-option>
            </nb-select>
            <div
              *ngIf="editRoomForm.get('status')?.invalid && (editRoomForm.get('status')?.dirty || editRoomForm.get('status')?.touched)">
              <small class="text-danger" *ngIf="editRoomForm.get('status')?.errors?.required">Trạng thái là bắt
                buộc.</small>
            </div>
          </nb-form-field>
        </div>
      </div>
      <div class="mt-3 d-flex column-gap-3">
        <button nbButton hero status="primary" [disabled]="editRoomForm.invalid">Chỉnh sửa</button>
        <button nbButton hero status="success" type="reset">Reset</button>
        <a nbButton status="basic" routerLink="/pages/room">Quay lại</a>
      </div>
    </form>
  </nb-card-body>
</nb-card>