<button class="btn btn-success mb-2">
  <a class="text-decoration-none text-white" routerLink="/pages/gift/add"
    >Thêm mới</a
  >
</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tên quà tặng</th>
      <th scope="col">Hình ảnh</th>
      <th scope="col">Số lượng</th>
      <th scope="col">Giá bán</th>
      <th scope="col">Thuộc phim</th>
      <th scope="col">Thao tác</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Ly Avatar 2</td>
      <td>
        <img
          width="50"
          src="https://th.bing.com/th/id/OIP.RX9fK7kQ33vd0zo5HVDdJwHaHa?rs=1&pid=ImgDetMain"
          alt=""
        />
      </td>
      <td>50</td>
      <td>300.000</td>
      <td>Avatar 2</td>
      <td>
        <button class="btn btn-warning">
          <a class="text-decoration-none text-white" routerLink="/pages/gift/edit/1"
            >Sửa</a
          >
        </button>
      </td>
    </tr>
  </tbody>
</table>
