<nb-card>
  <nb-card-header>
    <h3 class="fw-bold fs-5">Chỉnh sửa người dùng</h3>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="userEdit" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="col-md-6">
          <nb-form-field>
            <label class="form-label" for="username">Tên nhân viên</label>
            <input type="text" nbInput formControlName="username" status="basic" placeholder="Nhập tên nhân viên..."
              id="username">
          </nb-form-field>
          <small class="text-danger"
            *ngIf="userEdit.get('username')?.invalid && (userEdit.get('username')?.dirty || userEdit.get('username')?.touched)">
            <ng-container *ngIf="userEdit.get('username')?.errors?.required">
              Vui lòng nhập tên nhân viên
            </ng-container>
          </small>
        </div>
        <div class="col-md-6">
          <nb-form-field>
            <label class="form-label" for="email">Email</label>
            <input type="text" nbInput formControlName="email" status="basic" placeholder="Nhập email..." id="email">
          </nb-form-field>
          <small class="text-danger"
            *ngIf="userEdit.get('email')?.invalid && (userEdit.get('email')?.dirty || userEdit.get('email')?.touched)">
            <ng-container *ngIf="userEdit.get('email')?.errors?.required">
              Vui lòng nhập email
            </ng-container>
            <ng-container *ngIf="userEdit.get('email')?.errors?.email">
              Email không hợp lệ
            </ng-container>
          </small>
        </div>
      </div>
      <div class="mt-3 d-flex column-gap-3">
        <button nbButton hero status="primary">Chỉnh sửa</button>
        <button nbButton hero status="success" type="reset">Reset</button>
        <a nbButton status="basic" routerLink="/pages/employee">Quay lại</a>
      </div>
    </form>
  </nb-card-body>
</nb-card>